@model MemeDump2.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h1>Poszt törlése</h1>

<h3>A posztod tölésre került.</h3>

<a asp-controller="Home" asp-action="Index">Vissza a kezdőlapra</a>
